@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --purple: #2E3E74;
  --yellow: #FDF6D4;
  --lightblue: #EEF2F5;
  --darkeryellow: #B38958;
  --darkgreen: #50727B;
  --lightpurple: #D2D4DF;
  --gray: #55565A;
  --lightgray: #b7b3b3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.img-logo {
	width: 220px;
	height:220px;
}

.img-logo1 {
	width: 170px;
	height:170px;
}

.img-logo2 {
	width: 50px;
	height:50px;
}

.img-profile {
	width: 100px;
	height:100px;
}

.bg-purple {
  background: var(--purple);
}

.bg-darkeryellow {
  background: var(--darkeryellow);
}

.bg-lightblue {
  background: var(--lightblue);
}

.bg-lightpurple {
  background: var(--lightpurple);
}

.bg-darkgreen {
  background: var(--darkgreen);
}

.text-purple {
  color: var(--purple);
}

.text-yellow {
  color: var(--yellow);
}

.text-gray {
  color: var(--gray);
}

.text-lightgray {
  color: var(--lightgray);
}

.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label {
  width: 150px;
  margin-right: 10px;
}

.border-purple {
  color: var(--purple);
}

.line {
  width: 97%; /* Adjust width as needed */
  height: 1px; /* Adjust height for line thickness */
  background-color: #999; /* Set line color */
  margin-top: 3px; /* Adjust margin for line position */
  margin-left: 20px;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.gap-2 > button {
  margin: 0 5px; /* Menambahkan jarak 5px di sekitar setiap tombol */
}

.open-button {
  background-color: #D2D4DF;
  border: 1px solid #ddd; 
  border-radius: 15px;
  padding: 4px 12px; 
  color: #2E3E74;
  font-weight: bold; 
}

.close-button {
  color: #999; 
  font-weight: semibold;
}

.schedule-bar {
  background-color: #e3edf5; 
  border: 1px solid #ddd; 
  border-radius: 8px;
  color: #1e253a;
  font-weight: medium;
  font-size: 13px;
  display: flex; /* Mengubah display menjadi flex */
  justify-content: flex-start; 
  align-items: flex-start;
}

.bg-yellow {
  background: var(--yellow);
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}
