@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --purple: #2E3E74;
  --yellow: #FDF6D4;
  --lightblue: #EEF2F5;
  --darkeryellow: #B38958;
  --darkgreen: #50727B;
  --lightpurple: #D2D4DF;
  --gray: #55565A;
  --lightgray: #b7b3b3;
  --midpurple: #2E3E74;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.img-logo {
	width: 220px;
	height:220px;
}

.img-logo1 {
	width: 170px;
	height:170px;
}

.img-logo2 {
	width: 50px;
	height:50px;
}

.img-schedule {
	width: 55px;
	height:50px;
}

.img-profile {
	width: 100px;
	height:100px;
}

.img-navprofile {
	width: 40px;
	height: 40px;
}

.bg-purple {
  background: var(--purple);
}

.bg-midpurple {
  background: var(--midpurple);
}

.bg-darkeryellow {
  background: var(--darkeryellow);
}

.bg-lightblue {
  background: var(--lightblue);
}

.bg-lightpurple {
  background: var(--lightpurple);
}

.bg-darkgreen {
  background: var(--darkgreen);
}

.text-purple {
  color: var(--purple);
}

.text-yellow {
  color: var(--yellow);
}

.text-gray {
  color: var(--gray);
}

.text-lightgray {
  color: var(--lightgray);
}

.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label {
  width: 150px;
  margin-right: 10px;
}

.border-purple {
  color: var(--purple);
}

.line {
  width: 97%; 
  height: 1px; 
  background-color: #999; 
  margin-top: 3px; 
  margin-left: 20px;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: start;
}

.gap-2 > button {
  margin: 0 5px; 
}

.open-button {
  background-color: #D2D4DF;
  border: 1px solid #ddd; 
  border-radius: 15px;
  padding: 4px 12px; 
  color: #2E3E74;
  font-weight: bold; 
}

.close-button {
  color: #999; 
  font-weight: semibold;
}

.schedule-bar {
  background-color: #e3edf5; 
  border: 1px solid #ddd; 
  border-radius: 8px;
  color: #1e253a;
  font-weight: medium;
  font-size: 13px;
  display: flex; 
  justify-content: flex-start; 
  align-items: flex-start;
}

.todo-bar {
  background-color: #D2D4DF; 
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.img-study {
	width: 270px;
	height:220px;
  position: absolute; 
  bottom: 0; 
  right: 0;
  margin-bottom: 0 auto; 
  margin-right: 100px;
}

.bg-yellow {
  background: var(--yellow);
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.button {
  background-color: #2E3E74; 
  color: white;
  font-weight: 600;
  font-size: 20px;
  border-radius: 20px;
  justify-content: flex-start; 
  align-items: flex-start;
  width: 35%;
}

.music-bar {
  background-color: #EEF2F5; 
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.music-time {
  position: absolute;  
  right: 0;
  margin-right: 50px;
  margin-top: 18px;
  color: #55565A;
}

.music-button {
  position: absolute;  
  right: 0;
  margin-right: 50px;
  margin-top: 10px;
}

.img-musicbtn {
	width: 45px;
	height: 45px;
}

.test {
  position: fixed; 
  bottom: 0;
  width: 100%; 
  z-index: 10;
}

.text-schedbar {
  position: absolute;
  margin-left: 290px; 
  margin-top: 3px; 
  color: #55565A;
}

.set-navbar {
  position: fixed; 
  top: 0;
  width: 100%; 
  z-index: 10;
}

.content-container {
  margin-top: 65px;
}